a {
    color: inherit;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.button {
    padding: 0.89em 1.65em !important;
}
.button.alt:focus {
    background:  $white !important;
    border: 1px solid $primary-color;
}