.about {
  padding: rem(45) rem(15);
  padding-bottom: rem(47);
  &__title {
    font-family: "IBM Medium";
    font-size: rem($fz-secondary);
    line-height: rem(24);
    margin-top: rem(23);
  }
  &__logo {
    position: absolute;
    top: 0;
    left: rem(24);
  }
  &__imgs {
    position: relative;
  }
  &__img {
    width: 100%;
    height: auto;
  }
  &__text {
    line-height: rem(24);
    margin-bottom: rem(24);
    color: $dark-gray;
  }
}

@media (min-width: 768px) {
  .about {
    padding: rem(59) rem(84);
    padding-bottom: rem(72);
    &__imgs {
      text-align: center;
    }
    &__img {
      width: rem(600);
      height: rem(400);
    }
    &__title {
      font-size: rem($fz-title-big);
      line-height: rem(48);
      padding-right: rem(10);
    }
  }
}

@media (min-width: 1280px) {
  .about {
    padding: rem(50) rem(28);
    &__imgs {
      text-align: left;
    }
    &__grid {
      display: grid;
      grid-template-columns: rem(600) auto;
      column-gap: rem(32);
    }
    &__title {
      margin: 0;
    }
  }
}