.about {
  padding: rem(45) rem(15);
  padding-bottom: rem(47);
  &__title {
    font-family: "IBM Medium";
    font-size: rem($fz-secondary);
    line-height: rem(24);
    margin-top: rem(23);
  }
  &__logo {
    position: absolute;
    top: 0;
    left: rem(24);
  }
  &__imgs {
    position: relative;
  }
  &__img {
    width: 100%;
    height: auto;
  }
  &__text {
    line-height: rem(24);
    margin-bottom: rem(24);
  }
}