.disks {
  padding: 0 rem(16) rem(20) rem(16);
  text-align: center;
  &__card {
    text-align: left;
    max-width: rem(288);
    margin-bottom: rem(11) !important;
    position: relative;
    height: rem(568);
  }
  &__card-section {
    padding-top: 0 !important;
  }
  &__card-content {
    padding: rem(14) rem(16);
  }
  &__card-bottom {
    position: absolute;
    width: rem(225);
    bottom: rem(13);
    left: 50%;
    transform: translateX(-50%);
  }
  &__ratings {
    display: flex;
    align-items: top;

  }
  &__icons {
    position: relative;
    margin-bottom: rem(69);
    &:before {
      @include pseudo;
      width: rem(14);
      height: rem(14);
      left: 0;
      bottom: rem(-20);
      background: url("../img/tires-sun-icon.svg") center center/contain no-repeat;
    }
    &:after {
      @include pseudo;
      width: rem(14);
      height: rem(14);
      left: rem(24);
      bottom: rem(-20);
      background: url("../img/tires-accept-icon.svg") center center/contain no-repeat;
    }
  }
  &__icon {
    margin-right: rem(6);
  }
  &__gray-block {
    font-size: rem($fz-main);
    color: $dark-gray;
    
  }
  &__subtitle {
    font-family: "IBM Medium";
    font-size: rem($fz-title);
    line-height: rem(32);
    margin-bottom: rem(4);
  }
  &__comments {
    margin-right: rem(16);
    padding-left: rem(19);
    transform: translateY(rem(-4));
    position: relative;
    &:before {
      @include pseudo;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: rem(14);
      height: rem(14);
      background: url("../img/tires-comments-icon.svg") center center/contain no-repeat;
    }
  }
  &__title {
    @include title;
    margin-bottom: rem(16);
  }
  &__card-btns {
    flex-wrap: nowrap;
    margin-top: rem(9) !important;
  }
  &__card-btn {
    padding: rem(13) !important;
    margin-left: rem(16) !important;
    &--expanded {
      margin-left: 0 !important;
      flex-grow: 1 !important;
    }
    &--like:focus {
      background:  none !important;
      border: 1px solid $primary-color;
    }
  }
  &__btn {
    padding: rem(12) rem(16);
    background: -webkit-linear-gradient(0deg, $blue, $white);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "IBM Medium";
    &--active {
      background: $white;
      -webkit-text-fill-color: $primary-color;
      color: $primary-color;
      border-bottom: 1px solid $primary-color;
    }
  }
  &__img {
    width: rem(288);
    height: rem(288);
  }
  &__slider {
    @include push--auto;
    max-width: rem(288);
  }
  &__button {
    margin-top: rem(13);
  }
  .jq-star {
    margin-right: rem(5);
  }
}

@media (min-width: 768px ) {
  .disks {
    padding: rem(9) 0;
    &__card {
      width: rem(288);
      height: rem(568);
      margin: 0 rem(12);
      img {
        width: rem(288);
        height: rem(288);
      }
    }
    &__grid {
      margin-bottom: rem(19);
    }
    &__slider {
      @include push--auto;
      max-width: rem(288 + 288 + 47);
    }
    &__title {
      font-size: rem($fz-title-big);
      margin-bottom: rem(34);
    }
    &__button {
      margin-top: 0;
    }
    &__btn {
      margin: 0 auto;
      padding: rem(15) rem(16);
      width: auto !important;
      position: relative;
      box-sizing: border-box;
      &--active {
        background: $white;
        -webkit-text-fill-color: $primary-color;
        color: $primary-color;
        border-bottom: none;
        &:after {
          @include pseudo;
          width: 100%;
          height: rem(1);
          left: 50%;
          transform: translateX(-50%);
          bottom: 0;
          background: $primary-color;
        }
      }
    }
  }
}

@media (min-width: 1280px) {
  .disks {
    &__slider {
      max-width: rem(1252);
    }
  }
}