.header {
    &__content {
        background: $black url("../img/main-bg.jpg") no-repeat;
        background-size: contain;
        min-height: rem(312);
        padding: rem(176) rem(16) rem(16) rem(16);
    }
    &__title {
        font-family: "IBM Medium";
        display: inline-block;
        color: $white;
        padding: 0 rem(5);
        background: $primary-color;
        &--large {
            width: 100%;
        }
    }
    &__title-wrapper {
        &--table {
            display: none;
        }
    }
    &__btn {
        border: 1px solid $primary-color;
        color: $primary-color;
        margin-top: rem(5);
    }
    &__menu {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: rem(48);
        font-family: "IBM Medium";
        color: $white;
        z-index: 2;
        background: $black;
        &::after {
            @include pseudo;
            bottom: -16%;
            z-index: 1;
            left: 50%;
            transform: translateX(-50%);
            width: rem(48);
            height: rem(56);
            border-radius: rem(16);
            background-color: $black;
        }
    }
    &__menu-name {
        margin-left: rem(4);
    }
    &__icon-cross {
        display: none;
        svg {
            width: rem(10);
            height: rem(10);
        }
    }
    &__link {
        display: flex;
        color: $white;
        padding: rem(12) rem(16);
        font-size: rem($fz-main);
    }
    &__link:hover,
    :focus {
        svg {
            path {
                fill: $primary-color;
            }
        }
        color: $primary-color;
    }
    &__auth {
        display: flex;
        margin-right: rem(13);
    }
    &__logo {
        position: absolute;
        width: rem(32);
        height: rem(32);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
    }
    &__menu-mini {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        background-color: $blue-light;
        color: $white;
        padding: rem(72) 0 rem(48) 0;
        a {
            font-family: "IBM Medium";
        }
    }
    .is-accordion-submenu-parent {
        a {
            position: relative;
        }
        a::before {
            @include pseudo;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            height: rem(1);
            width: rem(286);
            background-color: $black-light;
        }
        a::after {
            background-image: url("../img/arrow-down-icon.svg");
            background-size: rem(16) rem(16);
        }
        &:hover {
            a::after {
                border-color: $primary-color transparent transparent !important;
            }
        }
    }
}
@media (min-width: 321px) {
    .header {
        &__content {
            background: $black url("../img/main-bg-table.jpg") no-repeat;
            background-position: top;
            background-size: 100vw;
        }
    }
}
@media (min-width: 768px) {
    .header {
        &__content {
            min-height: rem(384);
            padding: rem(136) rem(81) rem(96) rem(87);
            position: relative;
            &:after {
                @include pseudo;
                bottom: -52%;
                left: 0;
                width: 100%;
                height: rem(265);
                background: url("../img/choose-img.png") center center/contain
                    no-repeat;
            }
        }
        &__top {
            background-color: $black;
            padding: rem(15) rem(84) !important;
        }
        &__menu-name {
            font-size: rem($fz-medium);
        }
        &__logo {
            top: 68%;
            width: rem(64);
            height: rem(64);
        }
        &__auth {
            margin-right: rem(14);
            justify-content: space-between;
            min-width: rem(129);
            padding-top: rem(2);
        }
        &__menu {
            &::after {
                @include pseudo;
                bottom: -68%;
                z-index: 1;
                left: 50%;
                transform: translateX(-50%);
                width: rem(96);
                height: rem(56);
                border-radius: rem(16);
                background-color: $black;
            }
        }
        &__title {
            padding: 0 0;
            font-size: rem($fz-title-table);
        }
        &__title-tag {
            line-height: rem(46);
        }
        &__title-wrapper {
            &--mobile {
                display: none;
            }
            &--table {
                display: inline-block;
            }
        }
    }
}
