.header {
    &__content {
        background: $black url("../img/main-bg.jpg") no-repeat;
        background-size: contain;
        min-height: rem(312);
        padding: rem(176) rem(16) rem(16) rem(16);
    }
    &__cross {
        position: absolute;
        right: rem(-35);
        top: 42%;
        transform: translateY(-50%);
        width: rem(32);
        height: rem(32);
        font-size: rem(32);
        color: $white;
    }
    &__input-wrapper {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        max-width: 0;
        opacity: 0;
        transition: 1.3s ease;
        &:before {
            @include pseudo;
            left: rem(16);
            top: 50%;
            transform: translateY(-50%);
            width: rem(16);
            height: rem(16);
            background: url("../img/search-icon.svg") center center/contain
                no-repeat;
        }
        &--active {
            max-width: rem(230);
            opacity: 1;
        }
    }
    &__input {
        background: $blue-light;
        border: 1px solid transparent;
        border-radius: rem(4);
        color: $dark-gray;
        padding: 0;
        transition: 0.8s ease;
        font-size: rem($fz-medium);
        &:focus {
            outline: none;
            border: 1px solid $primary-color;
            background: $blue-light;
        }
        &--active {
            padding: rem(12) rem(113) rem(12) rem(48);
            width: rem(230);
        }
        border: none;
    }
    &__input-find {
        font-family: "IBM Medium";
        position: absolute;
        right: rem(16);
        top: 50%;
        transform: translateY(-50%);
        color: $primary-color;
    }
    &__title {
        font-family: "IBM Medium";
        display: inline-block;
        color: $white;
        padding: 0 rem(5);
        background: $primary-color;
        &--large {
            width: 100%;
        }
    }
    &__title-wrapper {
        &--table {
            display: none;
        }
    }
    &__btn {
        border: 1px solid $primary-color;
        color: $primary-color;
        margin-top: rem(5);
    }
    &__menu {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: rem(48);
        font-family: "IBM Medium";
        color: $white;
        z-index: 2;
        background: $black;
        &::after {
            @include pseudo;
            bottom: -16%;
            z-index: -1;
            left: 50%;
            transform: translateX(-50%);
            width: rem(48);
            height: rem(56);
            border-radius: rem(16);
            background-color: $black;
        }
    }
    &__menu-name {
        margin-left: rem(4);
    }
    &__icon-cross {
        display: none;
        svg {
            width: rem(10);
            height: rem(10);
        }
    }
    &__link {
        display: flex;
        color: $white;
        padding: rem(12) rem(16);
        font-size: rem($fz-main);
        cursor: pointer;
        &--desk {
            display: none;
        }
    }
    &__link:hover,
    :focus {
        svg {
            path {
                fill: $primary-color;
            }
        }
        color: $primary-color;
    }
    &__auth {
        display: flex;
        margin-right: rem(20);
    }
    &__logo {
        position: absolute;
        width: rem(32);
        height: rem(32);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
    }
    &__menu-mini {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        background-color: $blue-light;
        color: $white;
        padding: rem(72) 0 rem(48) 0;
        a {
            font-family: "IBM Medium";
        }
    }
    &__menu-big {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        background-color: $blue-light;
        color: $white;
        padding: rem(72) 0 rem(48) 0;
        &--auth {
            top: rem(48);
            padding: rem(40) rem(15) rem(48) rem(15);
        }
    }
    &__left {
        margin-bottom: rem(15);
    }
    &__in {
        font-size: rem($fz-title);
        font-family: "IBM Medium";
        color: $primary-color;
        line-height: rem(32);
    }
    &__form {
        @include dflex;
        justify-content: space-between;
        height: rem(40);
        input {
            max-width: rem(200);
        }
        button {
            font-family: "IBM Medium";
            font-size: rem($fz-main);
            line-height: rem(16);
            padding-left: rem(37) !important;
            padding-right: rem(37) !important;
            border: none !important;
        }
    }
    &__label {
        color: $divide-gray;
        margin-right: 0 !important;
        font-size: rem($fz-main);
        line-height: rem(16);
        font-family: "IBM";
        span {
            color: $blue;
        }
    }
    &__agree {
        display: flex;
        margin-top: rem(16);
    }

    &__menu-desk {
        display: none;
    }
    &__cross {
        cursor: pointer;
    }
    &__input-find {
        cursor: pointer;
    }
    &__grid-table {
        display: none;
    }
    .is-accordion-submenu-parent {
        a {
            position: relative;
        }
        a::before {
            @include pseudo;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            height: rem(1);
            width: 95%;
            background-color: $black-light;
        }
        a::after {
            background-image: url("../img/arrow-down-icon.svg");
            background-size: rem(16) rem(16);
        }
        &:hover {
            a::after {
                border-color: $primary-color transparent transparent !important;
            }
        }
    }
}
@media (min-width: 321px) {
    .header {
        &__content {
            background: $black url("../img/main-bg-table.jpg") no-repeat;
            background-position: top;
            background-size: 100vw;
        }
    }
}
@media (min-width: 768px) {
    .header {
        &__content {
            min-height: rem(384);
            padding: rem(134) rem(81) rem(96) rem(85);
            position: relative;
            &:after {
                @include pseudo;
                bottom: -52%;
                left: 0;
                width: 100%;
                height: rem(265);
                background: url("../img/choose-img.png") center center/contain
                    no-repeat;
            }
        }
        &__menu-big {
            top: rem(77);
            &--auth {
                padding: rem(40) rem(90) rem(48) rem(90);
            }
        }
        &__grid-table {
            padding: rem(32) rem(58) rem(48) rem(58);
            display: grid;
            grid-template-columns: 1fr;
            column-gap: rem(132);
            ul {
                margin: 0;
            }
        }
        &__top {
            background-color: $black;
            padding: rem(15) rem(84) !important;
        }
        &__menu-name {
            font-size: rem($fz-medium);
        }
        &__logo {
            top: 68%;
            width: rem(64);
            height: rem(64);
        }
        &__auth {
            margin-right: rem(17);
            justify-content: space-between;
            min-width: rem(125);
            padding-top: rem(2);
        }
        &__menu {
            position: relative;
            &::after {
                @include pseudo;
                bottom: -68%;
                z-index: -1;
                left: 50%;
                transform: translateX(-50%);
                width: rem(96);
                height: rem(56);
                border-radius: rem(16);
                background-color: $black;
            }
        }
        &__title {
            padding: rem(3) rem(3);
            font-size: rem($fz-title-table);
        }
        &__btn {
            margin-top: rem(3);
        }
        &__title-tag {
            line-height: rem(46);
        }
        &__title-wrapper {
            &--mobile {
                display: none;
            }
            &--table {
                display: inline-block;
            }
        }
        &__cross {
            position: absolute;
            right: rem(-45);
            top: 42%;
            transform: translateY(-50%);
            width: rem(32);
            height: rem(32);
            font-size: rem(32);
            color: $white;
        }
        &__input-wrapper {
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            max-width: 0;
            opacity: 0;
            transition: 0.8s ease;
            &:before {
                @include pseudo;
                left: rem(16);
                top: 50%;
                transform: translateY(-50%);
                width: rem(16);
                height: rem(16);
                background: url("../img/search-icon.svg") center center/contain
                    no-repeat;
            }
            &--active {
                max-width: rem(440);
                opacity: 1;
            }
        }
        &__input {
            display: none !important;
            padding: rem(12) rem(80) rem(12) rem(48);
            width: rem(440);
            border: none;
            &--active {
                display: inline-block !important;
            }
        }
        &__menu-mini {
            top: rem(77);
            padding: rem(0) 0 rem(48) 0;
        }
        &__left-name {
            font-family: "IBM Medium";
            font-size: rem($fz-title);
            color: $primary-color;
            margin-bottom: rem(16);
            display: block;
        }
        &__list-link {
            position: relative;
            padding: rem(16) rem(15) rem(24) rem(120);
            border-bottom: 1px solid $black-light;
            &--first {
                &:before {
                    @include pseudo;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    width: rem(96);
                    height: rem(96);
                    background: url("../img/header-icon-1.svg") center
                        center/contain no-repeat;
                }
            }
            &--second {
                &:before {
                    @include pseudo;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    width: rem(96);
                    height: rem(96);
                    background: url("../img/header-icon-2.svg") center
                        center/contain no-repeat;
                }
            }
            &--third {
                &:before {
                    @include pseudo;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    width: rem(96);
                    height: rem(96);
                    background: url("../img/header-icon-3.svg") center
                        center/contain no-repeat;
                }
            }
            &--fourth {
                &:before {
                    @include pseudo;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    width: rem(96);
                    height: rem(96);
                    background: url("../img/header-icon-4.svg") center
                        center/contain no-repeat;
                }
            }
            &--fifth {
                &:before {
                    @include pseudo;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    width: rem(96);
                    height: rem(96);
                    background: url("../img/header-icon-5.svg") center
                        center/contain no-repeat;
                }
            }
        }
        &__left-descr {
            display: flex;
            color: $divide-gray;
        }
        &__link-type {
            margin-right: rem(8);
        }
        &__left-about {
            display: flex;
            color: $divide-gray;
        }
        &__link-ver {
            margin-right: rem(8);
        }
        &__right-list-link {
            border-bottom: 1px solid $black-light;
            a {
                display: block;
                padding: rem(12) rem(16);
            }
        }
        &__left-link {
            list-style: none;
            margin: 0;
            font-size: rem($fz-main);
            padding-bottom: rem(20);
        }
        &__left-price {
            position: relative;
            padding-left: rem(24);
            &:before {
                @include pseudo;
                left: 0;
                top: 0;
                transform: translateY(rem(3));
                width: rem(14);
                height: rem(14);
                background: url("../img/header-price-icon.svg") center
                    center/contain no-repeat;
            }
        }
        &__left-time {
            position: relative;
            padding-left: rem(24);
            line-height: rem(17);
            margin-bottom: rem(11);
            &:before {
                @include pseudo;
                left: 0;
                top: rem(2);
                width: rem(14);
                height: rem(14);
                background: url("../img/header-time-icon.svg") center center/contain
                    no-repeat;
            }
        }
        &__in {
            font-size: rem($fz-title);
            font-family: "IBM Medium";
            color: $primary-color;
            line-height: rem(32);
        }
        &__form {
            @include dflex;
            justify-content: space-between;
            height: rem(40);
            input {
                max-width: rem(416);
            }
            button {
                font-family: "IBM Medium";
                font-size: rem($fz-main);
                line-height: rem(16);
                padding-left: rem(37) !important;
                padding-right: rem(37) !important;
                border: none !important;
            }
        }
        &__label {
            color: $divide-gray;
            margin-right: 0 !important;
            font-size: rem($fz-main);
            line-height: rem(16);
            font-family: "IBM";
            span {
                color: $blue;
            }
        }
        &__agree {
            display: flex;
            margin-top: rem(16);
        }
        &__grid {
            &--auth {
                display: grid;
                grid-template-rows: rem(88) rem(136);
                row-gap: rem(24);
                justify-content: center;
            }
        }
        &__right {
            max-width: rem(600);
        }
        .medium-horizontal {
            display: none !important;
        }
        .accordion-content {
            border: none !important;
        }
        .accordion-title {
            border: none !important;
            border-bottom: 1px solid $black-light !important;
        }
    }
}

@media (min-width: 1280px) {
    .header {
        .medium-horizontal {
            display: flex !important;
        }
        &__wrapper {
            background: url("../img/main-bg-desk.jpg") center center/cover
                no-repeat;
        }
        &__content {
            background: none;
            padding: rem(65) rem(70) rem(184) rem(607);
            &:after {
                background: url("../img/choose-img-desk.png") center
                    center/cover no-repeat;
                height: rem(200);
                bottom: -30%;
            }
        }
        &__title-tag {
            margin-bottom: rem(4);
        }

        &__burger {
            display: none;
        }
        &__input-wrapper {
            &--active {
                left: rem(-27);
                min-width: rem(800);
            }
        }
        &__input {
            width: 100%;
            &--active {
                max-width: rem(800);
            }
        }
        &__menu-desk {
            display: block;
        }
        &__menu-item-desk {
            position: relative;
            margin-right: rem(27);
            &:after {
                cursor: pointer;
                @include pseudo;
                right: rem(-4);
                top: 50%;
                transform: translateY(-50%);
                width: rem(16);
                height: rem(16);
                background: url("../img/arrow-down-icon-white.svg") center
                    center/contain no-repeat;
            }
        }
        &__link {
            &--visible {
                display: none;
            }
            &--desk {
                display: block;
            }
        }
        &__grid {
            padding: rem(32) rem(58) rem(48) rem(58);
            display: grid;
            grid-template-columns: rem(600) rem(460);
            column-gap: rem(125);
            justify-content: center;
            ul {
                margin: 0;
            }
            &--auth {
                grid-template-rows: none;
                row-gap: none;
                grid-template-columns: rem(492) rem(492);
                column-gap: rem(240);
                padding: rem(30) rem(60) 0 rem(60);
            }
        }
        &__in {
            font-size: rem($fz-title);
            font-family: "IBM Medium";
            color: $primary-color;
            line-height: rem(32);
        }
        &__form {
            @include dflex;
            justify-content: space-between;
            height: rem(40);
            input {
                max-width: rem(308);
            }
            button {
                font-family: "IBM Medium";
                font-size: rem($fz-main);
                line-height: rem(16);
                padding-left: rem(37) !important;
                padding-right: rem(37) !important;
                border: none !important;
            }
        }
        &__label {
            color: $divide-gray;
            margin-right: 0 !important;
            font-size: rem($fz-main);
            line-height: rem(16);
            font-family: "IBM";
            span {
                color: $blue;
            }
        }
        &__agree {
            display: flex;
            margin-top: rem(16);
        }
        &__left-name {
            font-family: "IBM Medium";
            font-size: rem($fz-title);
            color: $primary-color;
            margin-bottom: rem(16);
        }
        &__left-descr {
            @include dflex;
        }
        &__left-about {
            @include dflex;
        }
        &__left-type {
            margin-right: rem(8);
            font-size: rem($fz-main);
            color: $divide-gray;
        }
        &__left-ver {
            margin-right: rem(8);
        }
        &__right-link {
            padding: rem(12) rem(16);
            border-bottom: 1px solid $black-light;
            font-size: rem($fz-medium);
            font-family: "IBM Medium";
        }
        &__left-item {
            border-bottom: 1px solid $black-light;
            padding: rem(32) 0 rem(24) rem(120);
        }
        &__top {
            padding: rem(15) rem(30) !important;
        }
        &__auth {
            margin-right: 0;
            min-width: rem(394);
        }
        &__icon {
            font-family: "IBM Medium";
            font-size: rem($fz-medium);
            padding-left: 0;
        }
        &__menu-big {
            top: rem(77);
            padding-top: 0;
        }
        &__right-list {
            padding-top: rem(30);
        }
        &__left-desk-price {
            position: relative;
            padding-left: rem(24);
            &:before {
                @include pseudo;
                left: 0;
                top: 0;
                transform: translateY(rem(3));
                width: rem(14);
                height: rem(14);
                background: url("../img/header-price-icon.svg") center
                    center/contain no-repeat;
            }
        }
        &__left-desk-time {
            position: relative;
            padding-left: rem(24);
            line-height: rem(17);
            margin-bottom: rem(11);
            &:before {
                @include pseudo;
                left: 0;
                top: rem(2);
                width: rem(14);
                height: rem(14);
                background: url("../img/header-time-icon.svg") center center/contain
                    no-repeat;
            }
        }
        &__left-item {
            position: relative;
            &--first {
                &:before {
                    @include pseudo;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    width: rem(96);
                    height: rem(96);
                    background: url("../img/header-icon-1.svg") center
                        center/contain no-repeat;
                }
            }
            &--second {
                &:before {
                    @include pseudo;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    width: rem(96);
                    height: rem(96);
                    background: url("../img/header-icon-2.svg") center
                        center/contain no-repeat;
                }
            }
            &--third {
                &:before {
                    @include pseudo;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    width: rem(96);
                    height: rem(96);
                    background: url("../img/header-icon-3.svg") center
                        center/contain no-repeat;
                }
            }
            &--fourth {
                &:before {
                    @include pseudo;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    width: rem(96);
                    height: rem(96);
                    background: url("../img/header-icon-4.svg") center
                        center/contain no-repeat;
                }
            }
            &--fifth {
                &:before {
                    @include pseudo;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    width: rem(96);
                    height: rem(96);
                    background: url("../img/header-icon-5.svg") center
                        center/contain no-repeat;
                }
            }
        }
    }
}
