.stocks {
  text-align: center;
  padding-top: rem(12);
  &__item {
    padding: 0 rem(4);
    background-color: $orange-light;
    color: $orange-dark;
    display: inline-block;
    margin-right: rem(8);
    font-size: rem($fz-small);
  }
  &__card {
    @include push--auto;
    height: rem(448) !important;
    width: rem(288) !important;
    text-align: left !important;
    padding-bottom: rem(15);
    margin-bottom: rem(12) !important;
    img {
      width: rem(288);
      height: rem(272);
    }
  }
  &__card-section {
    position: relative !important;
    padding: 0 rem(31) !important;
  }
  &__title {
    @include title;
    text-align: center;
    font-size: rem($fz-title-big);
    margin-bottom: rem(18);
  }
  &__stock-time {
    margin-top: rem(40);
    position: relative;
    padding-left: rem(25);
    &:before {
      @include pseudo;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: rem(14);
      height: rem(14);
      background: url("../img/time-icon.svg") center center/contain no-repeat;
    }
  }
  &__card-text {
    padding-left: rem(5);
    &--bold {
      font-family: "IBM Medium";
      color: $fz-secondary;
    }
  }
  &__subtitle {
    font-family: "IBM Medium";
    font-size: rem($fz-secondary);
    line-height: rem(23);
    transform: translateY(rem(-4));
    margin-bottom: 0;
  }
  &__block {
    position: absolute;
    width: 100%;
    top: rem(-24);
    height: rem(104);
    width: rem(286);
    left: 50%;
    transform: translateX(-50%);
  }
  &__list {
    list-style: none;
    margin: 0;
    font-size: rem($fz-main);
    color: $dark-gray;
    padding-bottom: rem(20);
  }
  &__wrapper {
    position: relative;
    font-size: rem($fz-main);
  }
  &__price {
    position: relative;
    padding-left: rem(24);
  }
  &__time {
    position: relative;
    padding-left: rem(24);
    line-height: rem(17);
    margin-bottom: rem(15);
  }
  &__icon {
    position: absolute;
    left: 0;
    top: rem(5);
  }
  &__btn {
    margin-top: rem(6);
  }
  &__slider {
    @include push--auto;
    max-width: rem(288);
  }
}
@media (min-width: 768px) {
  .stocks {
    padding-top: rem(29);
    &__title {
      font-size: rem($fz-title-big);
      margin-bottom: rem(36);
    }
    &__card {
      min-width: rem(392);
      img {
        width: rem(392);
        height: rem(272);
      }
    }
    &__slider {
      @include push--auto;
      max-width: rem(392);
    }
    &__btn {
      margin-top: rem(18);
    }
  }
}

@media (min-width: 1280px) {
  .stocks {
    &__slider {
      max-width: rem(1252);
    }
    &__card {
      margin-right: rem(24);
    }
  }
}